<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!-- LocalizedPerfCounter:
         https://social.msdn.microsoft.com/Forums/sqlserver/en-US/3076f0dc-09b5-483a-b708-0ead95a80afa/the-key-localizedperfcounter-does-not-exist-in-the-appsettings-when-creating-socket?forum=netfxbcl
         This is an "exception-based logic" bug in the framework. This kind of framework bugs are rare, 
         but if you bumped into one, they can make debugging sessions a living hell.
         A workaround for my desktop application was to add the requested key to the app.config 
    -->
    <add key="LocalizedPerfCounter" value="false"/>
  </appSettings>
</configuration>





